
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 aboutus">
	<h1 class="h-aboutus h-subtitle">About Us</h1><br>

	<strong class="strong-aboutus topic">
		<p>SparkJumps was established in order to provide the best "spark" products with the best quality & price on the market.</p>
	</strong>

	<strong class="strong-aboutus topic">
		<p>Customers from around the world thank us for providing the best products, excellent customer service and care under the same roof.</p>
	</strong>

	<strong class="strong-aboutus topic">
		<p>We at SparkJumps research our products, so we can give you a durable, safe and reliable experience so you will get the best on the market.</p>
	</strong>

	<strong class="strong-aboutus topic">
		<p>Please let us know what you think about our store and what we need to improve to be the best shop in the market.</p>
	</strong>

	<div style="margin: 50px 0px">
		<span style="color: #999999;">
			<em><strong>-- SparkJumps.com.</strong></em>
		</span>
	</div>
</div>
