
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 faqs">
	<h1 class="h-faqs h-subtitle">FAQ's</h1><br>

	<strong class="strong-faq topic">
		<p>Do you deliver products internationally?</p>
	</strong>
	<p>SparkJumps successfully ships A LOT of products worldwide each day. We have many happy customers in every corner around the globe!</p>

	<strong class="strong-faq topic">
		<p>How much is shipping?</p>
	</strong>
	<p>This depends on the product ordered, the total weight, and where we’re shipping to.</p>

	<strong class="strong-faq topic">
		<p>How long does it take for an order to arrive?</p>
	</strong>
	<p>This depends on the product ordered.  Most items will arrive in about 3-5 weeks. If you’re still not sure, just email us.  We’re happy to help.</p>

	<strong class="strong-faq topic">
		<p>Can I have a tracking number?</p>
	</strong>
	<p>You will get a tracking number if the shipping country is: USA, UK, CANADA or AUSTRALIA, there are exceptions to some destination we will notify you if you’ll get a tracking number. Unfortunately, to other countries, our global suppliers do not provide tracking numbers but we do offer a 100% satisfaction guarantee if you are having a problem with your order.</p>

	<strong class="strong-faq topic">
		<p>I ordered 2+ items but only received one… where’s my order?</p>
	</strong>
	<p>We have a large assortment of products not stocked in our warehouse when you order multiple items at a time, they may be shipped separately so they get to you faster. You may receive one item before the next. So don’t panic if you don’t receive all of your items at once…they are on the way?</p>

	<strong class="strong-faq topic">
		<p>Why have I not received any order confirmation details?</p>
	</strong>
	<p>Most times this is because our customers have accidentally entered their email in wrong. Throughout the process, we send 3-4 emails, including an order confirmation, a fulfillment notice, and a shipping notice. If you believe you may have entered your email wrong please contact us and we will fix it for you.</p>

	<strong class="strong-faq topic">
		<p>Are the “FREE” items really free?</p>
	</strong>
	<p>YES! For our promotional items, all you have to pay is the shipping cost. The price of the item itself is $0.00?</p>

	<strong class="strong-faq topic">
		<p>What is your refund policy?</p>
	</strong>
	<p>All of our products are carefully inspected for quality to ensure that we give our customers only the very best. We provide 100% satisfaction refunds on all retail ítems (this offer is not applicable on free+shipping products)</p>

	<strong class="strong-faq topic">
		<p>How do I contact you?</p>
	</strong>
	<p>If you have any questions that are not on this FAQ page, please email us at sales@sparkjumps.com we will promptly get back to you!</p>

</div>