
<div>
	<div class="row payment-images">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 payment-image paypal-image">
			<img src="https://cdn.shopify.com/s/files/1/1319/2435/t/3/assets/paypalverified.png" alt="paypal verified" />
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 payment-image comodo-image">
			<img src="https://cdn.shopify.com/s/files/1/1319/2435/t/3/assets/comodosecured.png" alt="comodo secured" />
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 payment-image truste-image">
			<img src="https://cdn.shopify.com/s/files/1/1319/2435/t/3/assets/truste.png" alt="truste certified" />
		</div>
	</div>
</div>