<div class='site_footer'>
	<div class='grid-layout container'>

		<div class='row'>
			<div class='grid-item div-guarantee col-lg-6 col-md-6 col-sm-6 col-xs-12'>
				<div class='guarantee-title'>
					<h2>Buyer Protection & Guarantee</h2>
				</div>
				<p>
					We Offer Buyer Protection: Money Back Guarantee! We are here to make sure that you are 100% satisfied with your purchase! If, for any reason, you are unhappy with your purchase, please contact support and we will take it back! 
					SparkJumps Team Is All About The Service :)
				</p>
			</div>

			<div class='grid-item div-checkout col-lg-6 col-md-6 col-sm-6 col-xs-12'>
				<div class='guarantee-title'>
					<h2>100% Secure Checkout.</h2>
				</div>
				<p>
					SparkJumps is using the best SSL certificate so you will be able to buy safely and securely. Also we are using the most trusted payment processors in the world, Buy with confidence.
				</p>
				<div class='checkout-images'>
					<img class='checkout-image' src='https://cdn.shopify.com/s/files/1/0925/5048/t/8/assets/ff-checkout-visa.png?5843296735157703881' />
					<img class='checkout-image' src='https://cdn.shopify.com/s/files/1/0925/5048/t/8/assets/ff-checkout-mastercard.png?5843296735157703881' />
					<img class='checkout-image' src='https://cdn.shopify.com/s/files/1/0925/5048/t/8/assets/ff-checkout-americanexp.png?5843296735157703881' />
					<img class='checkout-image' src='https://cdn.shopify.com/s/files/1/0925/5048/t/8/assets/ff-checkout-discover.png?5843296735157703881' />
					<img class='checkout-image' src='https://cdn.shopify.com/s/files/1/0925/5048/t/8/assets/ff-checkout-paypal.png?5843296735157703881' />
					<img class='checkout-image' src='https://cdn.shopify.com/s/files/1/0925/5048/t/8/assets/ff-checkout-shopify.png?5843296735157703881' />
					<img class='checkout-image' src='https://cdn.shopify.com/s/files/1/0925/5048/t/8/assets/payment1.png?5843296735157703881' />
					<img class='checkout-image' src='https://cdn.shopify.com/s/files/1/0925/5048/t/8/assets/payment2.png?5843296735157703881' />
					<img class='checkout-image' src='https://cdn.shopify.com/s/files/1/0925/5048/t/8/assets/payment3.png?5843296735157703881' />
				</div>
			</div>
		</div>

	</div>
</div>

<div class='contact-footer'>
	<div class='container grid-layout'>

		<div class='row'>
			<div class='col-lg-2 col-md-2 col-sm-2 col-xs-12 div-footer-column div-quick-links'>
				<h3>Quick Links</h3>
				<ul>
					<li><a href='/'>Products</a></li>
					<li><a href='/privacy-policy'>Privacy Policy</a></li>
					<li><a href='/refund-policy'>Refund Policy</a></li>
					<li><a href='/faqs'>FAQ's</a></li>
					<li><a href='/about'>About Us</a></li>
					<li><a href='/contact-us'>Contact Us</a></li>
				</ul>
			</div>

			<div class='col-lg-3 col-md-3 col-sm-3 col-xs-12 div-footer-column div-get-touch'>
				<h3>Get in touch</h3>
				<p>
					<strong>SparkJumps Team Is All About The Service :)</strong>
				</p>
				<p>
					To contact customer support, please email <strong>support@sparkjumps.com</strong>
				</p>
			</div>

			<div class='col-lg-5 col-md-5 col-sm-5 col-xs-12 div-footer-column div-subscribe'>
				<h3>Subscribe and get 15% OFF on your first order.</h3>
				<div class='div-email'>
					<input type='email' class='email-input' placeholder='Email Address' aria-label='Email Address' autocorrect='off'>
					<button type='submit' class='btn-email' name='commit' id='subscribe'>Sign Up</button>
				</div>
			</div>
		</div>
		
		
		
	</div>

	<div class='container grid-layout div-facebook'>
		<div class='row' style='text-align: center'>
			<a class='sparkjumps-facebook-link' href='https://facebook.com/SparkJumps' title='SparkJumps.com - The web shop for perfectionists... on Facebook'>
				<i class='fa fa-facebook-official facebook-sparkjumps-icon' aria-hidden='true'></i>
			</a>
		</div>
	</div>

	<div class='container grid-layout'>
		<div class='row'>
			<div class='col-xs-12 col-md-6 col-sm-6 col-lg-6 footer-left'>
				<p>
					© 2017 SparkJumps.com - The web shop for perfectionists...
				</p>
			</div>
			
			<div class='col-xs-12 col-md-6 col-sm-6 col-lg-6 footer-right'>
				<div class='pay-icons'>
					<i class='fa fa-cc-amex cards' aria-hidden='true'></i>
					<i class='fa fa-apple-pay' aria-hidden='true'></i>
					<i class='fa fa-cc-mastercard cards' aria-hidden='true'></i>
					<i class='fa fa-cc-visa cards' aria-hidden='true'></i>
				</div>
			</div>
		</div>
	</div>

</div>