
<div class="search-nav-bar">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#adminNavBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
	<input type="search" name="primary-nav-search-input" id="primary-nav-search-input" placeholder="Search" class="input-search-navbar">
	<i class="fa fa-search" id="top_search_icon" aria-hidden="true"></i>
</div>