
<div class="shop-home" style="margin: 0px">
	
	<!-- Hoodies -->

	<div class='title'>
		<h1 class="h-hoodies h-subtitle">Hoodies</h1>
		<a class="more-link" href="/t/brands/rails">
			More hoodies
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</a>
	</div>
	<div class='row'>
		<div class='col-lg-4 col-md-4 col-sm-4 col-xs-4 goods'>
			<div class='home-item'>
				<a class="shop-home-link" href='/products/ruby-on-rails-baseball-jersey'>
					<div class="hoodies-image">
						<img class="home-image" src="/spree/products/24/small/ror_baseball.jpeg" alt="hoodies image" />
					</div>
					<div class='home-product-title'>
						Ruby on Rails Baseball Jersey
					</div>
					<span itemprop='offers' itemscope itemtype='https://schema.org/Offer'>
			          <span class='price selling lead' itemprop='price' content='19.99'>
			            	<strong>$19.99</strong>
			          </span>
			          <span itemprop='priceCurrency' content='$'></span>
			        </span>
				</a>
			</div>
		</div>

		<div class='col-lg-4 col-md-4 col-sm-4 col-xs-4 goods'>
			<div class='home-item'>
				<a class="shop-home-link" href='/products/ruby-baseball-jersey'>
					<div class="hoodies-image">
						<img class="home-image" src="/spree/products/34/small/ruby_baseball.png" alt="hoodies image" />
					</div>
					<div class='home-product-title'>
						Ruby Baseball Jersey
					</div>
					<span itemprop='offers' itemscope itemtype='https://schema.org/Offer'>
			          <span class='price selling lead' itemprop='price' content='19.99'>
			            	<strong>$19.99</strong>
			          </span>
			          <span itemprop='priceCurrency' content='$'></span>
			        </span>
				</a>
			</div>
		</div>

		<div class='col-lg-4 col-md-4 col-sm-4 col-xs-4 goods'>
			<div class='home-item'>
				<a class="shop-home-link" href='/products/spree-baseball-jersey'>
					<div class="hoodies-image">
						<img class="home-image" src="/spree/products/41/small/spree_jersey.jpeg" alt="hoodies image" />
					</div>
					<div class='home-product-title'>
						Spree Baseball Jersey
					</div>
					<span itemprop='offers' itemscope itemtype='https://schema.org/Offer'>
			          <span class='price selling lead' itemprop='price' content='19.99'>
			            	<strong>$19.99</strong>
			          </span>
			          <span itemprop='priceCurrency' content='$'></span>
			        </span>
				</a>
			</div>
		</div>
	</div>


	<!-- Gadgets -->

	<div class='title'>
		<h1 class="h-gadgets h-subtitle">Gadgets</h1>
		<a class="more-link" href="/t/brands/spree">
			More gadgets
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</a>
	</div>
	<div class='row'>
		<div class='col-lg-5 col-md-5 col-sm-5 col-xs-5 goods'>
			<div class='home-item'>
				<a class="shop-home-link" href='/products/ruby-on-rails-bag'>
					<div class="gadgets-image">
						<img class="home-image" src="/spree/products/23/small/ror_bag.jpeg" alt="gadgets image" />
					</div>
					<div class='home-product-title'>
						Ruby on Rails Bag
					</div>
					<span itemprop='offers' itemscope itemtype='https://schema.org/Offer'>
			          <span class='price selling lead' itemprop='price' content='19.99'>
			            	<strong>$22.99</strong>
			          </span>
			          <span itemprop='priceCurrency' content='$'></span>
			        </span>
				</a>
			</div>
		</div>
	</div>


	<!-- Women -->

	<div class='title'>
		<h1 class="h-women h-subtitle">Women</h1>
		<a class="more-link" href="/t/brands/rails">
			More women
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</a>
	</div>
	<div class='row'>
		<div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 goods'>
			<div class='home-item'>
				<a class="shop-home-link" href='/products/ruby-on-rails-ringer-t-shirt'>
					<div class="women-image">
						<img class="home-image" src="/spree/products/29/small/ror_ringer.jpeg" alt="women image" />
					</div>
					<div class='home-product-title'>
						Ruby on Rails Ringer T-Shirt
					</div>
					<span itemprop='offers' itemscope itemtype='https://schema.org/Offer'>
			          <span class='price selling lead' itemprop='price' content='16.99'>
			            	<strong>$16.99</strong>
			          </span>
			          <span itemprop='priceCurrency' content='$'></span>
			        </span>
				</a>
			</div>
		</div>

		<div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 goods'>
			<div class='home-item'>
				<a class="shop-home-link" href='/products/spree-ringer-t-shirt'>
					<div class="women-image">
						<img class="home-image" src="/spree/products/38/small/spree_ringer_t.jpeg" alt="women image" />
					</div>
					<div class='home-product-title'>
						Spree Ringer T-Shirt
					</div>
					<span itemprop='offers' itemscope itemtype='https://schema.org/Offer'>
			          <span class='price selling lead' itemprop='price' content='16.99'>
			            	<strong>$16.99</strong>
			          </span>
			          <span itemprop='priceCurrency' content='$'></span>
			        </span>
				</a>
			</div>
		</div>
	</div>


	<!-- Biking -->

	<div class='title'>
		<h1 class="h-biking h-subtitle">Biking</h1>
		<a class="more-link" href="/t/brands/spree">
			More biking
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</a>
	</div>
	<div class='row' style="border: none">
		<div class='col-lg-3 col-md-3 col-sm-3 col-xs-6 goods'>
			<div class='home-item'>
				<a class="shop-home-link" href='/products/ruby-on-rails-stein'>
					<div class="biking-image">
						<img class="home-image" src="/spree/products/31/small/ror_stein.jpeg" alt="biking image" />
					</div>
					<div class='home-product-title'>
						Ruby on Rails Stein
					</div>
					<span itemprop='offers' itemscope itemtype='https://schema.org/Offer'>
			          <span class='price selling lead' itemprop='price' content='16.99'>
			            	<strong>$16.99</strong>
			          </span>
			          <span itemprop='priceCurrency' content='$'></span>
			        </span>
				</a>
			</div>
		</div>

		<div class='col-lg-3 col-md-3 col-sm-3 col-xs-6 goods'>
			<div class='home-item'>
				<a class="shop-home-link" href='/products/ruby-on-rails-mug'>
					<div class="biking-image">
						<img class="home-image" src="/spree/products/27/small/ror_mug.jpeg" alt="biking image" />
					</div>
					<div class='home-product-title'>
						Ruby on Rails Mug
					</div>
					<span itemprop='offers' itemscope itemtype='https://schema.org/Offer'>
			          <span class='price selling lead' itemprop='price' content='13.99'>
			            	<strong>$13.99</strong>
			          </span>
			          <span itemprop='priceCurrency' content='$'></span>
			        </span>
				</a>
			</div>
		</div>
	</div>

</div>